
<nav class="navbar navbar-light bg-light">
    <span class="titulo-2">Quickly Meet</span>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE HORARIOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-horario">NUEVO</button>
                    <table *ngIf="listHorarios.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let horario of listHorarios">
                            <td>{{ horario.fecha }}</td>
                            <td>{{ horario.hora }}</td>
                            <td>{{ horario.estado }}</td>
                            <td>
                                <i [routerLink]="['/editar-horario', horario._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarHorario(horario._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf="listHorarios.length == 0">No hay horarios para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
  </div>