
<nav class="navbar navbar-light bg-light">
    <span class="titulo-2">Quickly Meet</span>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE HORARIOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-horario">AGREGAR</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10/10/2023</td>
                                <td>16:25</td>
                                <td>Disponible</td>
                                <td>
                                    <i class="fas fa-edit text-primary"></i>
                                    <i class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>