<app-header-home></app-header-home>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <div class="header-info">
                        <div>
                            <div class="mt--10">
                                <h2 class="logo">Listado de Horarios</h2>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" id="nuevo" href="horario/crear-horario">Nuevo</a>
                    <br>
                    <br>

                    <table *ngIf="listHorarios.length > 0" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha
                                    <button id="ordenarfecha" (click)="alternarOrdenFecha()">
                                        <i class="fas fa-sort"></i>
                                    </button>
                                </th>
                                <th scope="col">Hora</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let horario of listHorarios">
                                <td>{{ horario.fecha }}</td>
                                <td>{{ horario.hora }}</td>
                                <td
                                    [ngClass]="{'reservado': horario.estado === 'Reservado', 'disponible': horario.estado === 'Disponible'}">
                                    {{ horario.estado }}
                                </td>
                                <td>
                                    <i (click)="confirmarEliminarHorario(horario._id)"
                                        class="fas fa-trash text-danger fa-lg"></i>
                                    <i class="fas fa-edit text-primary fa-lg"
                                        [routerLink]="['editar-horario', horario._id]"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listHorarios.length == 0">No hay horarios
                        para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>