

<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    
    <!-- End Header Top  -->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="index.html">
                                <div class="mt--15">
                                    <h2 class="title">[QM]</h2>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    
                    
                </div>
  
  
                
            </div>
        </div>
        
        <!-- End Search Dropdown  -->
    </div>
    <!-- Start Side Vav -->
    <div class="rbt-banner-area rbt-banner-1">
        <div class="container-fluid">
            <div class="row">
                <div class="mt--20 pb--120 pt--70">
                    <div class="content">
                        <div class="inner">
                            
  
                            <h1 class="title">
                                Reserva de <br> Horarios.
                            </h1>
                            <p class="description">
                                La manera mas facil y rapida de reservar tus horas.
                               
                            </p>
                            <div class="slider-btn">
                                <a class="rbt-btn btn-gradient hover-icon-reverse" href="auth/login">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Inicia Sesión</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>

                                <a class="float-end rbt-btn btn-gradient hover-icon-reverse" href="auth/register">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Registrate</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>

                                
                            </div>
                            
                            
                        </div>
                        <div class="shape-wrapper" id="scene">
                            <img src="assets/images/banner/banner-02.png" alt="Hero Image">
                            <div class="hero-bg-shape-1 layer" data-depth="0.4">
                                <img src="assets/images/shape/shape-01.png" alt="Hero Image Background Shape">
                            </div>
                            <div class="hero-bg-shape-2 layer" data-depth="0.4">
                                <img src="assets/images/shape/shape-02.png" alt="Hero Image Background Shape">
                            </div>
                        </div>
  
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->

  <!-- End Side Vav -->
  <a class="close_side_menu" href="javascript:void(0);"></a>