
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin-top: 80px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 20px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, rgb(13, 185, 253)  0, rgb(13, 185, 253) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#9a77bd 0, rgba(60,9,121,0.5298494397759104) 100%);
  bottom: 0px;
  content: "";
  display: block;
  left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgba(60,9,121,0.5298494397759104) 0%, rgb(13, 185, 253) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #b747d3 0, #2facf5 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#cb45ec 0, #2facf5 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}


#titulo-1{
  font-family: 'Montserrat', sans-serif;
}

.seccion-carrusel img{
  max-width: 100%;
  max-width: 100%;
}


.col-5{
  border: 2px solid red;
}

.col-7{
  border: 2px solid red;
}


#cuadro-login{
  margin: 120px 40px;
}