<app-header></app-header>



<div class="row">
    <div class="col-5">
        <div id="cuadro-login" >

            <h1 id="titulo-1">
                Reserva de Horarios.
            </h1>
            <p class="description">
                La manera mas facil y rapida de reservar tus horas.

            </p>
            <a class="button-78" role="button" href="auth/login">

                <span class="btn-text">Inicia Sesión</span>
            </a>

            <a class="button-78 float-end" role="button" href="auth/register">
                <span class="btn-text">Registrate</span>
            </a>

        </div>
    </div>
    <div class="col-7">
        <section class="seccion-carrusel">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/images/uno.png" class="d-block w-15" >
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/dos.png" class="d-block w-15">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/tres.png" class="d-block w-15">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
