
<app-header></app-header>

<main class="rbt-main-wrapper">
  
  <div class=" bg-color-white rbt-section-gapBottom">
      <div class="container">
          
          <div class="row g-5 mt--20">
              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="horario">
                      <div class="inner">
                          <div class="icons">
                              <img src="assets/images/category/web-design.png" alt="Icons Images">
                          </div>
                          <div class="content">
                              <h5 class="title">Horarios</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->

              <!-- Start Category Box Layout  -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <a class="rbt-cat-box rbt-cat-box-1 text-center" href="course-filter-one-toggle.html">
                      <div class="inner">
                          <div class="icons">
                          </div>
                          <div class="content">
                              <h5 class="title">Pendiente</h5>
                              <div class="read-more-btn">
                                  <span class="rbt-btn-link"><i class="feather-arrow-right"></i></span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <!-- End Category Box Layout  -->
          </div>
      </div>
  </div>

  