.row {}

.col-lg-8 {

    margin-bottom: 20px;
}

.col-lg-4 {}

#fila_titulo {
    padding-top: 20px;
    margin-left: 0px;
    width: 100%;
}

#icon_calendar {
    width: 100px;
    height: 100px;
}

#boton_calendario {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

}

#centrar_horario {
    text-align: center;
    /* Centrar horizontalmente */
    line-height: 50px;
    font-size: 50px;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
#titulo_home{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
}