.fas {
    cursor: pointer;
    margin-left: 7px;
  }
  
  #tarjeta-formulario{
    border: none;
  }
  
  
  
  .reservado {
    color: white;
    background-color: rgba(238, 4, 4, 0.938);
    border: 4px solid white;
    width: 100px;
    border-radius:10px;
  }

  .card{
    margin-bottom: 150px;
  }  
  
  
  body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
  .logo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  
  }
  
  
  #ordenarfecha {
    padding-left: 5px;
    border: none;
    background-color: white;
  }
  
  
  #nuevo{
    line-height: 30px;
    height: 40px;
    border-radius: 10px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60%;
    width: 200px;
  }