<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">[Quickly Meet]</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>



<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    
    <!-- End Header Top  -->
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="home">
                                <div class="mt--15">
                                    <h2 class="title">Quickly Meet</h2>
                                </div>
                            
                            </a>
                        </div>
                    </div>
                    
                    
                </div>
  
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                           
  
                           
  
                            
  
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a >Pages <i class="feather-chevron-down"></i></a>
                                <!-- Start Mega Menu  -->
                                <div class="rbt-megamenu grid-item-2">
                                    <div class="wrapper">
                                        <div class="row row--15 single-dropdown-menu-presentation">
                                            <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                <ul class="mega-menu-item">
                                                    <li><a href="index.html">Logout</a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- End Mega Menu  -->
                            </li>
  
                            
                        </ul>
                    </nav>
                </div>
  
                
            </div>
        </div>
        
        <!-- End Search Dropdown  -->
    </div>
    <!-- Start Side Vav -->
 

  <!-- End Side Vav -->
  <a class="close_side_menu" href="javascript:void(0);"></a>