<!-- End Header Top  -->
<div class="rbt-header-wrapper header-space-betwween header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <div class="logo">
                        <a href="index.html">
                            <div class="mt--15">
                                <h2 class="title">[QM]</h2>
                            </div>
                        
                        </a>
                    </div>
                </div>
                
                
            </div>


            
        </div>
    </div>
    
    <!-- End Search Dropdown  -->
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
